@import "tailwindcss";

@theme {
  --font-arabic: "Cairo", sans-serif;
  --color-gold: #f59e0b;
  --color-dark-primary: #111827;
  --color-dark-secondary: #1f2937;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
